<section class="mt-5">
    <div class="container mt-5 mb-5 p-5 bg-theme">
        <h1 class="text-white text-center"> About Us</h1>
        <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
            <p>Welcome to Angular BlogApp, where our story comes 
                to life. Our 'About Us' section is your gateway to
                 understanding the heart and soul of our brand.
                  In this section, you'll find the history of our 
                  journey, from our humble beginnings to our 
                  current standing as a trusted name in the 
                  [Your Industry/Niche].</p>
            <p>Learn about our unwavering
                   commitment to [Your Core Values], and the team 
                   of experts who work tirelessly to bring 
                   innovation and excellence to everything we do.
                    Our 'About Us' page is more than just a history 
                    lesson; it's a glimpse into the passion that 
                    drives us, the values that define us, and the 
                    promise of what we can deliver to you. </p>
            <p>We encourage you to take a moment to explore 
                    the 'About Us' section, as it embodies our 
                    vision, our mission, and our dedication to 
                    serving you better. Thank you for considering 
                    [Your Company Name] as your partner, and we 
                    look forward to sharing our journey with you</p>

                    <div class="text-center">
                        <button class="btn btn-info btn-sm mt-4">Back To Home</button>
                    </div>
        </div>
    </div>
</section>