<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="card shadow-effect">
                <img src="assets/images/pexels-kristina-paul-18530726.jpeg" alt="" class="card-img-top img-fluid">
                <div class="card-body">
                    <small class="bg-light text-danger text-center"> Design </small>
                    <small class="bg-light text-success text-center ml-2"> Featured </small>
                    <small class="bg-light text-info text-center ml-2"> Views - 100,256 </small>
                    <small class="bg-light text-warning text-center ml-2"> LAST UPDATED - SEP 20, 2021 </small>
                    <h1 class="mt-3 mb-3">HOW TO START A BLOG IN 2023</h1>
                    <p>Education is the cornerstone of human development and progress. It is a powerful tool that equips individuals with knowledge, skills, and values necessary to navigate the complexities of the modern world.

                        First and foremost, education opens doors of opportunity. It empowers individuals to pursue their passions and aspirations, providing a platform for personal and professional growth. A well-rounded education not only enhances employability but also fosters critical thinking and problem-solving abilities.
                        
                        Moreover, education promotes societal cohesion and harmony. It fosters tolerance, empathy, and cultural understanding, which are essential for building inclusive and diverse communities.
                        
                        Education is a potent weapon against ignorance, prejudice, and discrimination. It has the potential to break down barriers and create a more equitable and just society.
                        
                        In addition, education is essential for economic development. A well-educated workforce is the driving force behind innovation, productivity, and competitiveness on the global stage.
                        
                        Education is not limited to formal institutions but extends to lifelong learning. In this rapidly changing world, the ability to adapt and acquire new knowledge and skills is paramount.
                        
                        In conclusion, education is the key to personal and societal advancement, fostering growth, understanding, and progress in our ever-evolving world. It is the foundation upon which we can build a brighter and more inclusive future for all.
                    </p>
                </div>
            </div>
            <app-comment-form></app-comment-form>
            <app-comment-list></app-comment-list>
        </div>
        <div class="col-md-3">
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
        </div>
    </div>
</div>